Olá, {{ full_name }}

Confirmamos que a conta associada ao e-mail abaixo foi excluída com sucesso do {{ app_name }}:

• email: {{ email }}

Agradecemos pelo tempo em que esteve conosco.
Caso decida retornar no futuro, será sempre bem-vindo(a).

Se você não solicitou a exclusão da conta, entre em contato imediatamente com nossa equipe de suporte.

Atenciosamente,
Equipe {{ app_name }}

