NODE_ENV=development
LOG_LEVEL=debug
PROJECT_NAME=SBAstrobio

# App:
APP_NAME=SBAstrobio
APP_PORT=3000
JWT_SECRET=
HASH_SALT_ROUNDS=12
JWT_EXPIRATION=2h
JWT_REFRESH_EXPIRATION=7d

# Sentry:
SENTRY_DSN=

# Comando de inicialização do Dockerfile:
COMMAND=npx prisma migrate deploy && npx prisma generate && node dist/seed.js && npm run start:prod:docker

# Comando de paralelização do Docker Compose file:
COMPOSE_BAKE=true
DOCKER_BUILDKIT=1
COMPOSE_DOCKER_CLI_BUILD=1
COMPOSE_PARALLEL_BUILD=1

# PostgreSQL:
POSTGRES_CONTAINER_NAME=
POSTGRES_HOST=localhost
POSTGRES_USERNAME=postgres-user
POSTGRES_PASSWORD=postgres-password
POSTGRES_DB=sbastrobiodb
POSTGRES_PORT=5432
SCHEMA=public

# REDIS:
REDIS_CONTAINER_NAME=
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_PROTECTED_MODE=yes
REDIS_AOF_ENABLED=no
REDIS_MAXMEMORY=256mb
REDIS_MAXMEMORY_POLICY=allkeys-lru
REDIS_DATABASES=16

# URLs de Conexão:
DATABASE_URL=postgresql://postgres-user:postgres-password@localhost:5432/sbastrobiodb?schema=public
FRONTEND_URL=http://localhost:5173

# SMTP:
SMTP_EMAIL=
SMTP_PASSWORD=
SMTP_PORT=
SMTP_HOST=
SMTP_SECURE=
