node_modules
build
dist
.env

# Pasta de Arquivos Temporários de Build:
tmp

# Arquivos de Imagem de Perfil:
uploads/user/profile-images/*
!uploads/user/profile-images/default-profile-pic.png
uploads/temp/user/profile-images/*
!uploads/temp/user/profile-images/.gitkeep

# Logs:
logs/*
!logs/.gitkeep
