node_modules
build
dist
.env

# Arquivos de Imagem de Perfil:
uploads/blog/banners/*
uploads/director-board/profile-images/*
uploads/meeting/banner/*
uploads/user/profile-images/*
uploads/temp/user/profile-images/*
!uploads/**/default.png
!uploads/meeting/banner/meeting-2026.jpg
!uploads/temp/user/profile-images/.gitkeep

# Logs:
logs/*
!logs/.gitkeep
