=======================================
COMUNICAÇÕES SBAstrobio {{ newsletter_sequence_number }}
Ano {{ newsletter_volume }} - Número {{ newsletter_edition_number }}
{{ newsletter_release_date }}
=======================================

SBAstrobio: https://www.sbastrobio.org/

---------------------------------------
NOTÍCIAS
---------------------------------------
