
---------------------------------------
EVENTO
---------------------------------------

*{{ newsletter_event_title }}*

Prezados associados, gostaríamos de relembrar que o evento {{ newsletter_event_title }} ocorrerá nos dias {{ newsletter_event_dates }} no endereço {{ newsletter_event_location }}. Para mais informações, acesse https://sbastrobio.org.

Em caso de dúvidas, entre em contato pelo nosso e-mail: contato@astrobiobrasil.org
