
---------------------------------------
SEU ARTIGO NA NEWSLETTER SBAstrobio
---------------------------------------

Você publicou recentemente (últimos 2 anos) um artigo científico sobre sua pesquisa em Astrobiologia? Compartilhe conosco via este formulário para publicarmos em nossa Newsletter! Vamos juntos promover a astrobiologia brasileira entre nossos membros!

Formulário de submissão de artigos:
https://forms.gle/fteiPNLasTSDRjde9

---------------------------------------
CONFIRA NOSSO BLOG E CONTRIBUA COM A PRODUÇÃO DE TEXTOS
---------------------------------------

Blog SBAstrobio: https://sbastrobio.org/

=> Manifeste seu interesse através deste formulário:
   https://docs.google.com/forms/d/e/1FAIpQLSc_1MrX6bl8oiMaTkly7yS9Qs53ffBo1vNVtwOosQeLJ3vKiw/viewform

---------------------------------------
ACESSE NOSSA COMUNIDADE SBAstrobio NO WHATSAPP
---------------------------------------

Nossa comunidade do WhatsApp contém grupos para diferentes fins, como para avisos (onde só administradores podem postar), e grupos para discussão e debate entre nós. Assim temos agora uma plataforma para estreitar laços através de notícias, avisos e conversas astrobiológicas.

Podem acessar aqui a Comunidade WhatsApp SBAstrobio exclusiva para nossos membros:
https://chat.whatsapp.com/JTsCYZauU4eKpwhofwaIFU

---------------------------------------

Siga-nos nas redes sociais:
  - Facebook:  https://www.facebook.com/sbastrobio
  - Instagram: https://www.instagram.com/sbastrobio/
  - Website:   https://www.sbastrobio.org/
  - Twitter:   https://twitter.com/SBAstrobio
